<html ng-app="vote">
<head>
  <title>Dragg!</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="index.css" media="screen">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="js/home.js"></script>


<div class="header">
  <div class="header-buttons">
    <div class='logo'>
     <a href="/"><img src="images/logo-small.png"></a>
    </div>
    <div class="wordbuttons">
     <% if (user) { %>
     <a href="/home">dashboard</a>
     <a href="/bars">local bars</a>
     <% } %>
     <% if (!user) { %>
        <a href="/login">log-in</a>
     <% } %>
     <% if (user) { %>
        <a href="/logout">log-out</a>
        <p id="username">Hi, <%= user.local.username %></p>
     <% } %>
     
    </div>

 </div>
</div>

<div class="appBody">

<div class='sectionTitle'>
    <% if (user.location) {%>
    Local bars in
    <b><%=user.location%></b>
    <% } %>
    <% if (!user.location) {%>
    <form method='post' action=''>
        Enter your location to view bars in your area<br>
    <input name='locationInput' type='text'></input>
    <input type='submit' value='submit'></input>
    </form>
    <% } %>
</div>


</div>



</body>
</html>
