body{
  background-color: #FFF;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #380744;
}

.header-buttons{
  margin: 0px auto;
  width: 70%;
  height: 100%;
  transform: translateY(10px);

}

.header-buttons>a{
  float:left;
}

.logo{
  float:left;
  margin-right: 30px;
}

.wordbuttons>a{
  color: #FFF;
  font-family: Baloo Bhaina;
  font-size: 20px;
  margin-right: 30px;
}

.indexbuttons>a{
  color: #FFF;
  font-family: Baloo Bhaina;
  font-size: 20px;
  margin: 15px;
}

.wordbuttons{
  transform: translateY(25px);
}

.indexbuttons{
  transform: translateY(25px);
}

.wordbuttons>p{
  float:right;
  color: #FFF;
  font-family: Baloo Bhaina;
  font-size: 20px;
  margin-right: 30px;
}

.appBody{
  margin: 0px auto;
  transform: translateY(80px);
  width: 70%;
  height: auto;
  color: #666;
  font-family: Ubuntu;
  font-size: 18px;
}

.showBar{

  margin: 0px auto;
  transform: translateY(30px);
  width: 550px;
  color: #666;
  font-family: Ubuntu;
  font-size: 18px;

}

input:focus{
  outline-color: #dfa0ef;
}

button{
  outline-color: #dfa0ef;
}

.indexText{
  color: #712481;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchInput{
  width: 50%;
}

.banner{
  background-image: url('images/banner.png');
  width: 600px;
  height: 480px;
}

.searchResult{
  margin-top: 70px;
}

.entry{
  
  width: 75%;
  height: 150px;
  text-align: left;
  
}

.entryIMG{
  float:left;
}

.entryTEXT{
  float:left;
  margin-left: 10px;
  width: 85%;
  font-size: 14px;
}

.barTEXT{
  width: 95%;
  font-size: 14px;
}

.barTEXT>a{
  color: #712481;
  font-size: 20px;
}



.entryTEXT>a{
  color: #380744;
  font-size: 16px;
}

.loginForm{
  margin-top: 20px;
  width: 320px;
  height: 310px;

  
}

.loginTitle{
  font-size: 30px;
  color: #380744;
  font-family: Signika;
  transform: translateY(15px);
}

.input{
  width: 300px;
  border-radius: 20px;

}

.input>input{
  width: 300px;
  height: 50px;
  transform: translateY(10px);
  background-color: #FFF;
  border: solid 1px #BBB;
  color: #380744;
  border-radius: 5px;
  margin-bottom: 5px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

input[type=text] {
    width: 100%;
    padding: 0px 10px;
    margin: 8px 0;

}

input[type=password] {
    width: 100%;
    padding: 0px 10px;
    margin: 8px 0;

}

#draggButton{
  
  background-color: #712481;
  color: #FFF;
  border: solid 1px #712481;
  
}

#searchLoc{
  width: 50%;
}

#userLoc{
  width: 50%;
}

.userLoc{
  background-color: #712481;
  color: #FFF;
  border: solid 1px #712481;
}

.loginSubmit{
  width: 300px;
  background-color: #712481;
  border: solid 2px #712481;
  color: #FFF;
  border-radius: 5px;
}

#attendance{
  font-size: 16px;
  color: #712481;
  font-weight: bold;
}

#attend{
  width: 100px;
  border: none;
  color: #FFF;
}

#going{
  color: red;
}

@media screen and (max-width: 1500px) {
  
.appBody{
  width:80%;
}

.entry{
  
  width: 80%;
  
}

  
}

@media screen and (max-width: 1200px) {
  
.appBody{
  width:90%;
}

.entry{
  
  width: 90%;
  
}

  
}

@media screen and (max-width: 950px) {
  
.appBody{
  width:90%;
}

.entry{
  
  width: 100%;
  
}

  
}

@media screen and (max-width: 850px) {
  
.appBody{
  width:90%;
}

.entry{
  
  width: 100%;
  
}

.entryTEXT{

  width: 75%;

}
  
}

@media screen and (max-width: 700px) {
  
.entry{
  text-align: center;
}
  
.entryIMG{
  float:none;
}

.entryTEXT{
  margin-left: 0px;
  width: 100%;

}
  
}

@media screen and (max-width: 600px) {
  
 .banner{
  background-image: url('images/banner400.png');
  width: 400px;
  height: 320px;
} 

.wordbuttons>a{
  font-size: 14px;
  margin-right: 15px;
}

.indexbuttons>a{

  font-size: 14px;

}

.wordbuttons>p{
  font-size: 14px;

}

  
}

@media screen and (max-width: 400px) {
  
 .banner{
  background-image: url('images/banner300.png');
  width: 300px;
  height: 240px;
} 
  
}