<!DOCTYPE html>
<html ng-app="vote">
<head>
    <title>Dragg</title></title>
   <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Merriweather|Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="index.css" media="screen">
</head>
<body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type='text/javascript' src='js/index.js'></script>

<div class="header">
    <div class="header-buttons"><center>
      <div class="wordbuttons">
     <% if (user) { %>
        <p id="username">Hi, <%= user.local.username %></p>
     <% } %>
     </center>
      </div>

   </div>
  </div>
<div style='background-color:#380744'>
        <center>
    <div class='banner'></div>
</div>
<div class="header">
    <div class="header-buttons"><center>
      <div class="indexbuttons">
      <% if (user) { %>
        <a href="/home">dashboard</a>
        <a href="/bars">local bars</a>
     <% } %>
       <% if (!user) { %>
        <a href="/login">log-in</a>
     <% } %>
     <% if (user) { %>
        <a href="/logout">log-out</a>
     <% } %>
     </center>
      </div>

   </div>
  </div>

<div class="appBody"><center>
    <div class='indexText'>
    <p>Find bars around your area. <b><i>Dragg</i></b> your friends with you.</p><br><br>
    </div>
    
    
        <b>Enter a location</b><br>
         
        <input id='searchLoc' class='searchInput' type='text' placeholder='i.e Austin, Texas or 78749'></input> <button id='draggButton'>Dragg it!</button>
    
    <div id='result'>
        
    </div>

<br><br><br><br>
<p><a href='jennie-pham.herokuapp.com'>Jennie Pham</a> | <a href="https://github.com/jenniepham/nightlife">Github Rep</a></p>
</center>
</div>



</body>
</html>
