body{
  background-color: #FFF;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #380744;
}

.header-buttons{
  margin: 0px auto;
  width: 70%;
  height: 100%;
  transform: translateY(5px);

}

.header-buttons>a{
  float:left;
}

.logo{
  float:left;
  margin-right: 30px;
}

.wordbuttons>a{
  color: #FFF;
  font-family: Oswald;
  font-size: 20px;
  margin-right: 30px;
}

.indexbuttons>a{
  color: #FFF;
  font-family: Oswald;
  font-size: 20px;
  margin: 15px;
}

.wordbuttons{
  transform: translateY(25px);
}

.indexbuttons{
  transform: translateY(25px);
}

.wordbuttons>p{
  float:right;
  color: #FFF;
  font-family: Oswald;
  font-size: 20px;
  margin-right: 30px;
}

.appBody{
  margin: 0px auto;
  transform: translateY(80px);
  width: 70%;
  height: auto;
  color: #555555;
  font-family: Lato;
  font-size: 18px;
}

.indexText{
  color: #380744;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchInput{
  width: 50%;
}

.banner{
  background-image: url('images/banner.png');
  width: 600px;
  height: 480px;
}

.searchResult{
  margin-top: 70px;
}

.entry{
  
  width: 65%;
  height: 150px;
  text-align: left;
  
}

.entryIMG{
  float:left;
}

.entryTEXT{
  float:left;
  margin-left: 10px;
  width: 85%;
}

.entryTEXT>a{
  color: #380744;
}


@media screen and (max-width: 600px) {
  
 .banner{
  background-image: url('images/banner400.png');
  width: 400px;
  height: 320px;
} 
  
}

@media screen and (max-width: 400px) {
  
 .banner{
  background-image: url('images/banner300.png');
  width: 300px;
  height: 240px;
} 
  
}