<!doctype html>
<html>
<head>
    <title>Dragg!</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Signika|Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="index.css" media="screen">
</head>
<body>


<div class="header">
  <div class="header-buttons">
    <div class='logo'>
     <a href="/"><img src="images/logo-small.png"></a>
    </div>
    <div class="wordbuttons">
     <% if (user) { %>
     <a href="/home">my bars</a>
     <% } %>
     <% if (!user) { %>
        <a href="/login">log-in</a>
     <% } %>
     <% if (user) { %>
        <a href="/logout">log-out</a>
        <p class="username">Hi, <%= user.local.username %></p>
     <% } %>
    </div>

 </div>
</div>
<% if (LImessage.length > 0) { %>
        <div class="alert alert-danger"><%= LImessage %></div>
    <% } %>
<% if (SUmessage.length > 0) { %>
        <div class="alert alert-danger"><%= SUmessage %></div>
    <% } %>
<div class="appBody"><center>
    
 <div class="loginForm">
   <p class="loginTitle">log in</p>
   <form method="post" action="" id="loginForm">
       <div class='input'>
     <input class="loginInput" type="text" name="username" placeholder="username"></input>
     <input class="loginInput" type="password" name="password" placeholder="password"></input><br><br>
       </div>
     <input class="loginSubmit" type="submit" value="Log In"></input>
   </form>
   <p><center>Don't have an account? <a href='/signup'>Register now!</a></center></p>
   


 </div>
 </center>

</div>



</body>
</html>
